<% sort_column = params[:sort].try(:to_sym) %>
<div class="index-container">
  <div class="index-navigation">
    <h2><%= builder.title %></h2>
    <div class="index-filter"></div>
  </div>
  <div class="index-table">
    <table>
      <thead>
        <tr>
          <% builder.columns.each do |c| %>
            <% unless options[:pagination] == false %>
              <% ascending = (c.name == sort_column && params[:order] == 'asc')  %>
              <th class="<%= "sorting_column #{ascending ? :desc : :asc}" if c.name == sort_column %>">
                  <%=  link_to({sort: c.name, order: ( ascending ? :desc : :asc )}) do %>
                <%= content_tag :span, c.head %>
                <% end %>
              </th>
            <% else %>
              <th>
                <%= content_tag :span do %>
                  <%=  c.head %>
                <% end %>
              </th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% builder.records.each do |r| %>
          <tr>
            <% builder.columns.each do |c| %>
              <td><%= c.body r %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="index-navigation-bottom">
    <div class="index-buttons">
      <%= link_to "New #{builder.model.last.model_name}", polymorphic_path([:new, builder.model].flatten) %>
    </div>
    <% unless options[:pagination] == false %>
      <div class="index-pager">
        <%= paginate builder.records, window: 1%>
      </div>
    <% end %>
  </div>
</div>
